<h1>Livros disponíves:</h1>
<div class="books-container">
 

{{#each books}}
<div>
    {{this.id}} -
     <span class="bold"><a href="/book/{{this.id}}">{{this.title}}</a></span> -- {{this.pageqty}}
</div>

{{/each}}
</div>

<a href="/">Adicionar Livro</a> 